* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
@media only screen and (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 575.99px) and (max-width: 767.98px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 767.99px) and (max-width: 991.98px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

a {
  text-decoration: none;
}

.boton {
  padding: 0.625rem 3.125rem;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}

.boton_azul {
  color: white;
  text-transform: uppercase;
  background-color: #0097a7;
}

.header {
  background-color: white;
}
.header .header__flex {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 575.98px) {
  .header .header__flex {
    display: block;
    height: auto;
    text-align: center;
  }
}
.header .header__flex .enlace {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: black;
  font-size: 1.5rem;
}
@media only screen and (max-width: 575.98px) {
  .header .header__flex .enlace {
    padding: 8px;
    justify-content: center;
  }
}

.hero {
  background-image: url("../img/hero.jpg");
  height: 28.125rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero .hero_flex {
  z-index: 1;
  text-align: center;
}
.hero .hero_flex .titulo_hero {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #E6DADA;
  margin-bottom: 30px;
}
.hero .hero_flex span {
  font-size: 1.375rem;
  color: #E6DADA;
}
.hero .hero_flex .boton {
  font-size: 1.375rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero:after {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.caja_ubicacion {
  margin-bottom: 30px;
}
.caja_ubicacion .icono-ubicacion {
  color: #ffc107;
  font-size: 3.125rem;
}

main {
  width: 60rem;
  max-width: 100%;
  margin: 30px auto;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 6px 6px -2px #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main .contenedor_servicios h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
main .contenedor_contacto h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.servicios {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 575.98px) {
  .servicios {
    display: block;
  }
}
.servicios .cajaServicio {
  padding: 15px 10px;
  text-align: center;
  flex: 0 0 calc(33.3% - 10px);
}
.servicios .cajaServicio h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.875rem;
  color: #0097a7;
  margin-bottom: 15px;
}
@media only screen and (min-width: 575.99px) {
  .servicios .cajaServicio h3 {
    height: 70px;
  }
}
.servicios .cajaServicio .iconos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 6.25rem;
  height: 6.25rem;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffc107;
}
.servicios .cajaServicio .iconos i {
  font-size: 2.5rem;
}
.servicios .cajaServicio p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2;
}

.contacto {
  padding: 2.5rem 1.25rem;
  background-color: #808080;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  border-radius: 0.9375rem;
  -webkit-border-radius: 0.9375rem;
  -moz-border-radius: 0.9375rem;
  -ms-border-radius: 0.9375rem;
  -o-border-radius: 0.9375rem;
}
.contacto h3 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffc107;
  margin-bottom: 20px;
}
.contacto .campo {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contacto .campo label {
  font-size: 1.25rem;
  width: 6.25rem;
  color: white;
}
.contacto .campo input, .contacto .campo textarea {
  font-size: 1rem;
  height: 2.5rem;
  flex: 1;
}
@media only screen and (max-width: 575.98px) {
  .contacto .campo input, .contacto .campo textarea {
    flex: 1;
    width: 100%;
  }
}
.contacto .campo textarea {
  height: 5rem;
}
.contacto .campo input[type=submit] {
  flex: 0;
  cursor: pointer;
  border: none;
}
.contacto .campos_principales {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767.99px) {
  .contacto .campos_principales {
    display: block;
  }
}
.contacto .campos_principales .campo {
  margin: 0;
  flex: 0 0 calc(50% - 10px);
}
@media only screen and (max-width: 767.99px) {
  .contacto .campos_principales .campo {
    margin: 20px 0;
  }
}
.contacto .contenedor_enviar {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 575.98px) {
  .contacto .contenedor_enviar {
    justify-content: center;
    max-width: 100%;
  }
}
.contacto .contenedor_enviar .campo {
  margin: 0;
}