* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

a {
  text-decoration: none;
}

.boton {
  padding: 10px 50px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
}

.boton_azul {
  color: white;
  text-transform: uppercase;
  background-color: #0097a7;
}

.header {
  background-color: white;
}
.header .header__flex {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 90%;
  margin: 0 auto;
}
.header .header__flex .enlace {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  color: black;
  font-size: 24px;
}

.hero {
  background-image: url("../img/hero.jpg");
  height: 450px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero .hero_flex {
  z-index: 1;
  text-align: center;
}
.hero .hero_flex .titulo_hero {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #E6DADA;
  margin-bottom: 30px;
}
.hero .hero_flex span {
  font-size: 22px;
  color: #E6DADA;
}
.hero .hero_flex .boton {
  font-size: 22px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero:after {
  content: " ";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.caja_ubicacion {
  margin-bottom: 30px;
}
.caja_ubicacion .icono-ubicacion {
  color: #ffc107;
  font-size: 50px;
}

main {
  width: 1200px;
  max-width: 100%;
  margin: 30px auto;
  padding: 20px 40px;
  background-color: white;
  box-shadow: 0px 6px 6px -2px #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main .contenedor_servicios h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.servicios {
  display: flex;
  justify-content: space-between;
}
.servicios .cajaServicio {
  padding: 15px 10px;
  text-align: center;
  flex: 0 0 calc(33.3% - 10px);
}
.servicios .cajaServicio h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  color: #0097a7;
  margin-bottom: 15px;
}
.servicios .cajaServicio .iconos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffc107;
}
.servicios .cajaServicio .iconos i {
  font-size: 40px;
}
.servicios .cajaServicio p {
  line-height: 2;
}