.header{ 
     background-color: $color_claro; 
     .header__flex{
          width: 90%;
          margin: 0 auto;
          @include media('movil-s'){
               display: block;
               height: auto;
               text-align: center;
               width: 100%;
          }
     }
}
@import 'menu-responsive.scss';