.hero
     .hero_flex
          h1.titulo_hero Diseño y desarrollo Freelancer
          .caja_ubicacion
               <i class="fas fa-map-marker-alt icono-ubicacion"></i>
               span.ubicacion Mexico, Distrito Federal
          a(href="#", class="boton boton_azul") Contactar