.menu-responsive
     .menu-responsive__contenedor-hamburguer
          .menu-hamburguer
               i(class="fas fa-bars" class="icon-hamburguer")
          .enlaces
               each enlace in enlaces
                    a(href="#" class="enlace")=enlace